@inherits LayoutComponentBase

<div class="min-h-screen bg-gray-50">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet class="fixed bottom-0 left-0 right-0 bg-red-600 text-white p-4 hidden">
    An unhandled error has occurred.
    <a href="." class="reload underline ml-2">Reload</a>
    <span class="dismiss ml-4 cursor-pointer">X</span>
</div>
