<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate" />
    <base href="/" />
    <link rel="stylesheet" href="css/tailwind.min.css" />
    <link rel="stylesheet" href="app.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body class="bg-gray-50 min-h-screen">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/clipboard.js"></script>
    <script src="js/upload.js"></script>
</body>

</html>
